*Creado por:*

*Isabel Maniega*

# -1.2- Introducción a Python (Continuación)

## -1.2.1- Condiciones Multiples

### Operador: |

**(condición1) ó (condición2)**

In [1]:
listado = [5, 10, 15, 20, 25]
listado

[5, 10, 15, 20, 25]

Buscar números que son o bien 5 o bien 25

In [2]:
# Paso a Paso
contador = 0 # inicializar el contador con valor 0

for numero in listado:
    # contador = 0
    if (numero == 5) | (numero == 25):
        contador = contador + 1
        # si el numero es 5 entonces el contador suma 1 --> 0 a 1
        # si el numero es 25 entonces el contador suma 1 --> 1 a 2
    # recorre la lista y finaliza el bucle

print(contador) # Resultado esperado es 2

2

**Ahora veremos el uso de print**

In [3]:
# Paso a Paso
contador = 0 # inicializar el contador con valor 0

for numero in listado:
    # contador = 0
    print('valor del contador antes if: ', contador)
    print('valor del numero: ', numero)
    if (numero == 5) | (numero == 25):        
        print('### valor del numero en IF: ', numero)
        contador = contador + 1
        print('*** valor del contador después de IF: ', contador)
        # si el numero es 5 entonces el contador suma 1 --> 0 a 1
        # si el numero es 25 entonces el contador suma 1 --> 1 a 2
    # recorre la lista y finaliza el bucle

print(contador) # Resultado esperado es 2

valor del contador antes if:  0
valor del numero:  5
### valor del numero en IF:  5
*** valor del contador después de IF:  1
valor del contador antes if:  1
valor del numero:  10
valor del contador antes if:  1
valor del numero:  15
valor del contador antes if:  1
valor del numero:  20
valor del contador antes if:  1
valor del numero:  25
### valor del numero en IF:  25
*** valor del contador después de IF:  2
2

**2º opción uso de OR**

In [4]:
listado = [5, 10, 15, 20, 25]
listado

[5, 10, 15, 20, 25]

In [5]:
# Paso a Paso
contador = 0 # inicializar el contador con valor 0

for numero in listado:
    # contador = 0
    if (numero == 5) or (numero == 25):
        contador += 1
        # si el numero es 5 entonces el contador suma 1 --> 0 a 1
        # si el numero es 25 entonces el contador suma 1 --> 1 a 2
    # recorre la lista y finaliza el bucle

print(contador) # Resultado esperado es 2

2

### Operador: &

**(condición1) y (condición2)**

In [6]:
listado = [5, 10, 15, 20, 25]
listado

[5, 10, 15, 20, 25]

Tenemos una variable además de la lista con valor x = 1, entonces queremos buscar la coincidencia que el valor de x=1 y además que el valor de numero sea 15

In [7]:
x = 1

In [8]:
for numero in listado:
    print('valor del numero: ', numero)
    if (numero == 15) & (x == 1):
        print('### valor del numero en IF: ', numero)
        print('### valor de x en IF: ', x)
        print("Hemos detectado un 15 en la lista y la x vale 1")

valor del numero:  5
valor del numero:  10
valor del numero:  15
### valor del numero en IF:  15
### valor de x en IF:  1
Hemos detectado un 15 en la lista y la x vale 1
valor del numero:  20
valor del numero:  25

**2ª opción: and**

In [9]:
listado = [5, 10, 15, 20, 25]
listado

[5, 10, 15, 20, 25]

In [10]:
 x = 1

In [11]:
for numero in listado:
    print('valor del numero: ', numero)
    if (numero == 15) and (x == 1):
        print('### valor del numero en IF: ', numero)
        print('### valor de x en IF: ', x)
        print("Hemos detectado un 15 en la lista y la x vale 1")

valor del numero:  5
valor del numero:  10
valor del numero:  15
### valor del numero en IF:  15
### valor de x en IF:  1
Hemos detectado un 15 en la lista y la x vale 1
valor del numero:  20
valor del numero:  25

### IN/NOT IN

In [12]:
listado = [10, 20, 30]
listado

[10, 20, 30]

In [13]:
# está el valor 10 en la lista?¿ --> Sí == True; No == False
10 in listado

True

In [14]:
10 not in listado

False

In [15]:
20 in listado

True

In [16]:
20 not in listado

False

### Entrada de texto por teclado

**String**

In [17]:
input("hola como estás?? - Digame: ...")

hola como estás?? - Digame: ...Quiero Leche

'Quiero Leche'

**Asignación de variable...**

In [18]:
texto = input("hola como estás?? - Digame: ...")
texto

hola como estás?? - Digame: ...quiero Lechuga

'quiero Lechuga'

**Ejemplo de entrada de numeros**

In [19]:
numero = int(input("dígame su número favorito: <No valen decimales>..."))
numero

dígame su número favorito: <No valen decimales>...4

4

In [20]:
print("Su número favorito es: ", numero)

Su número favorito es:  4

**Ejemplo de numeros decimales**

In [21]:
numero_decimal = float(input("dígame su número decimal favorito: <valen decimales>..."))
numero_decimal

dígame su número decimal favorito: <valen decimales>...5.5

5.5

In [22]:
print("Su número decimal favorito es: ", numero_decimal)

Su número decimal favorito es:  5.5

*Creado por:*

*Isabel Maniega*